body{

.parallax {
	background: url(torneo.jpg);
} 

.jugadas {
	padding: 20px;
	font-size: 30px;
}


iframe {
	display: block;
	margin: auto;
}


.marcas {
	height: 200px;
	width: 200px;
	margin-left: 30px;
	margin-right: 30px;
	border: 100px;
}
}